.texto ul{
  padding-left: 18px;
  margin-bottom: 12px;
}

.texto li{
  margin-bottom: 6px;
  font-size: 14px;
}

.alerta-final{
  margin-top: 15px;
  padding: 10px;

  background: #fff3cd;
  border-left: 4px solid #ffc107;

  font-size: 13px;
}