.pago-card {
  margin-bottom: 12px;
  border-left: 4px solid #ccc;
}

.acciones {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.modal-fullscreen {
  --width: 100%;
  --height: 100%;
}

.viewer {
  --background: #000;
}

.img-full {
  width: 100%;
  height: auto;   /* 🔥 CLAVE */
  display: block;
}

.pdf-full {
  width: 100%;
  height: 100%;
  border: none;
}