<ion-header [translucent]="true">
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>

      <ion-button (click)="LoadListaFactura()" size="small">
        <ion-icon slot="icon-only" ios="logo-apple" md="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title style="margin-right: 20px;" class="ion-text-center">
      Listado de Ordenes {{_Parametro.NumeroMesa}}
    </ion-title>
   
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-item *ngIf="_Parametro.ListadoOrdenes.length == 0">
    <ion-title class="ion-text-center">No hay Ordenes que Mostrar</ion-title>
  </ion-item>

  <ion-accordion-group 
    [value]="accordionActivo" 
    (ionChange)="onAccordionChange($event)"
    style="color: white;"
  >

    <!-- ======================================================= -->
    <!--     LISTADO DE ÓRDENES (ACCORDION)                      -->
    <!-- ======================================================= -->
    <ion-accordion 
      *ngFor="let iten of _Parametro.ListadoOrdenes; let i = index; trackBy: trackByFactura"
      [value]="iten.idFacturaHeader"
      style="color:white;"
    >

      <ion-item slot="header" style="margin-bottom:2px;" color="light">

  <ion-label class="label-orden">
    
    <div>
      <strong>Ord#: {{ iten.idFacturaHeader }} {{ iten.nombreCuenta }}</strong>
    </div>

    <div>
      <ion-icon name="calendar-outline"></ion-icon>
      {{ iten.fechaBencimiento | date:'dd/MM/yyyy' }} {{iten.hora}}
    </div>

    

  </ion-label>

</ion-item>

      <!-- ======================================================= -->
      <!--     CONTENIDO DEL ACCORDION                             -->
      <!-- ======================================================= -->
      <div slot="content">

        <ion-row>
          <ion-col>
             <ion-button (click)="openModal(iten.idFacturaHeader)" color="primary">
             
              <ion-icon slot="icon-only" name="cash"></ion-icon>
            </ion-button> 

           <ion-button 
*ngIf="puedeEliminarOrden"
(click)="EliminarFactura(iten.idFacturaHeader)"
color="danger">

  <ion-icon slot="icon-only" name="trash"></ion-icon>

</ion-button>

            <ion-button (click)="AddNewItem(iten.idFacturaHeader)" color="primary">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <!-- ======================================================= -->
        <!--     DETALLES DE LA ORDEN                               -->
        <!-- ======================================================= -->
        <ion-row class="ion-no-padding" *ngFor="let itenDetalle of iten.facturaDetalles; let j = index">

          <ion-col size="6" style="color:black;">

            <ion-label>

              <!-- Nombre -->
              <h5><b>{{ itenDetalle.productos.nombre }}</b></h5>

              <!-- Precio original tachado -->
              <div *ngIf="itenDetalle.descuento > 0" >
                Precio:
                {{ itenDetalle.productos.precioVenta | currency }}
              </div>

              <!-- Precio final -->
              

              <!-- Descuento aplicado -->
              <!-- <div *ngIf="itenDetalle.descuento > 0" style="color:#e74c3c;">
                Descuento aplicado:
                <b>{{ itenDetalle.descuento * itenDetalle.cantidad| currency }}</b>
              </div> -->

              <!-- Cantidad -->
              <h5><b>Cantidad: {{ itenDetalle.cantidad }}</b></h5>

              <!-- Subtotal -->
            <div class="precio-row">

  <div class="precio-label">
    SubTotal:
    <b>{{ itenDetalle.subTotal | currency }}</b>
  </div>

  <ion-button
    class="btn-edit-precio"
    (click)="editarPrecio(itenDetalle)"
  >
    <ion-icon name="create-outline"></ion-icon>
  </ion-button>

</div>

              <hr>
<div class="badge-estilista">

  <ion-icon name="person-circle-outline"></ion-icon>

  {{ itenDetalle.nombreEmpleadoComision || 'No asignado' }}

  <ion-button
    fill="clear"
    size="small"
    color="primary"
    (click)="cambiarLavador(itenDetalle)"
  >
    <ion-icon name="swap-horizontal-outline"></ion-icon>
  </ion-button>

</div>
            </ion-label>

          </ion-col>

          <ion-col size="6" class="ion-no-padding ion-text-end">

            <ion-button 
  *ngIf="puedeEliminarOrden"
  (click)="RemoverItem(i, j, itenDetalle.idFacturaDetalle, iten.idFacturaHeader)"  
  size="small" 
  color="danger"
>
  <ion-icon slot="icon-only" name="trash"></ion-icon>
</ion-button>
             <ion-button 
              
               (click)="DisminuirCantidad(i, j, itenDetalle.idFacturaDetalle)"  
              size="small" 
              color="warning"
            >
              <ion-icon slot="icon-only" name="remove"></ion-icon>
            </ion-button>
             <ion-button 
            (click)="AumetarCantidad(i, j, itenDetalle.idFacturaDetalle)"  
              size="small" 
              color="success"
            >
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>

          </ion-col>

        </ion-row>

        <!-- ======================================================= -->
        <!--     TOTALES Y DESCUENTO GLOBAL                          -->
        <!-- ======================================================= -->
        <ion-item color="warning" lines="none">
          <ion-label class="ion-text-center">

            <!-- <div *ngIf="iten.totalDescuento > 0" style="color:#e74c3c; font-size:18px;">
              Descuento total aplicado:
              <b>{{ iten.totalDescuento | currency }}</b>
            </div> -->

           <!-- TOTAL ORIGINAL -->
<div style="font-size:22px; color:black; margin-top:5px;">
  <b>Total: {{ iten.total | currency }}</b>
</div>

<!-- ABONO -->
<!-- <div *ngIf="iten.pagado > 0" style="color:#27ae60; font-size:20px; margin-top:5px;">
  Abono en Cita:
  <b>- {{ iten.pagado | currency }}</b>
</div> -->

<!-- PENDIENTE (TOTAL REAL A COBRAR) -->
<!-- <div *ngIf="iten.pagado > 0" style="color:#c0392b; font-size:26px; margin-top:5px;">
  <b>Pendiente: {{ (iten.total - iten.pagado) | currency }}</b>

</div> -->


          </ion-label>
        </ion-item>

      </div>

    </ion-accordion>

  </ion-accordion-group>

  <!-- FAB PARA AGREGAR CLIENTE POR VOZ -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="seleccionarTipoDocumento()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
