<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Orden</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cart-content">
  <div class="cart-shell">

    <div class="cart-empty" *ngIf="!parametro.ListadoProductosCate?.length">
      <ion-icon name="cart-outline"></ion-icon>
      <p>No hay productos en la orden</p>
    </div>

    <article
      class="cart-item"
      *ngFor="let item of parametro.ListadoProductosCate; let i = index">

      <div class="cart-item-top">
        <div class="cart-item-info">
          <h3 class="cart-item-name">{{ item.nombre || item.descripcion }}</h3>
          <p class="cart-item-desc" *ngIf="item.nombre && item.descripcion && item.descripcion !== item.nombre">
            {{ item.descripcion }}
          </p>

          <div class="cart-item-prices">
            <span
              class="price-old"
              *ngIf="item.precioOriginal > item.precioVenta">
              {{ item.precioOriginal | currency }}
            </span>
            <span class="price-now">{{ item.precioVenta | currency }}</span>
          </div>

          <div
            class="cart-item-discount"
            *ngIf="item.precioOriginal > item.precioVenta">
            Descuento −{{ (item.precioOriginal - item.precioVenta) * item._cantidad | currency }}
          </div>
        </div>

        <div class="cart-item-actions">
          <ion-button class="btn-act btn-del" (click)="removerItem(i)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
          <ion-button class="btn-act btn-minus" (click)="disminuirCantidad(i)">
            <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
          </ion-button>
          <ion-button class="btn-act btn-plus" (click)="aumentarCantidad(i)">
            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

      <div class="cart-item-bottom">
        <span class="qty-pill">Cant. {{ item._cantidad }}</span>
        <span class="subtotal">
          Subtotal
          <strong>{{ item._cantidad * item.precioVenta | currency }}</strong>
        </span>
      </div>

      <ng-container *ngIf="comisionEmpleado">
        <div class="empleado-block">
          <p class="empleado-label">Empleado que comisiona</p>
          <div class="empleado-comision-box">
            <ion-item lines="none">
              <ion-select
                [(ngModel)]="item.idEmpleadoComision"
                interface="popover"
                placeholder="Seleccionar empleado">
                <ion-select-option
                  *ngFor="let emp of ListadoEmpleados"
                  [value]="emp.idEmpleados">
                  {{ emp.nombre }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </div>
      </ng-container>
    </article>

  </div>
</ion-content>

<ion-footer class="cart-footer">
  <div class="totals-panel">
    <div class="total-row">
      <span>Total bruto</span>
      <strong>{{ TotalBruto | currency }}</strong>
    </div>

    <div class="total-row discount" *ngIf="TotalDescuento > 0">
      <span>Descuento</span>
      <strong>−{{ TotalDescuento | currency }}</strong>
    </div>

    <div class="total-row pay">
      <span>Total a pagar</span>
      <strong>{{ TotalNeto | currency }}</strong>
    </div>
  </div>

  <ion-button
    class="btn-confirm"
    expand="block"
    (click)="procesarOrden()">
    Confirmar orden
  </ion-button>
</ion-footer>
