<ion-content class="login-background">

  <form>
    <!-- LOGO -->
    <div class="logo-container">
      <img
        class="logo-oficial"
        [src]="logoUrl"
        alt="Alahia"
        (error)="onLogoError()" />
    </div>

    <!-- CARD GLASSMORPHISM -->
    <ion-card class="login-card" >
     <ion-card-header color="warning"  class="header-demo">

  <h2 class="titulo-demo">
    Bienvenido a AlahiaERP<br>
   
  </h2>
  <h4 class="subtitulo-demo">
    <strong>
   Controla tus ventas, clientes y reportes desde un solo lugar.
Empieza gratis en minutos.
     </strong>
  </h4>
  

</ion-card-header>
      <ion-card-content>
        <!-- Usuario -->
        <ion-item lines="full" class="input-item">
          <ion-icon color="warning" name="person" slot="start"></ion-icon>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input [(ngModel)]="Usuario" [ngModelOptions]="{standalone: true}" required></ion-input>
        </ion-item>

        <!-- Contraseña -->
        <ion-item lines="full" class="input-item">
          <ion-icon color="warning" name="key" slot="start"></ion-icon>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="PassWord" type="password" [ngModelOptions]="{standalone: true}" required></ion-input>
        </ion-item>
        
        <br>

        <!-- Botón Iniciar Sesión -->
        <ion-button 
          expand="block" 
          shape="round" 
          color="warning"
          (click)="login()">

          <P style="color: black;">Iniciar Sesión</P>
        </ion-button>

        <p class="ticket-login-link" (click)="abrirTicketSoporte()">
          ¿No puedes entrar? Crear ticket de soporte
        </p>
        
      
    
<div class="banner-login">
  💡 ¿Sabías que puedes facturar electrónicamente  (e-CF) desde el sistema?
</div>




        <!-- Olvidó contraseña 
         <p 
  class="ion-text-center forgot-pass" 
  style="color: white; margin-top: 10px; cursor: pointer;" 
  (click)="goToForgot()">
  ¿Olvidaste tu contraseña?
</p>
-->
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
