
<ion-content  color="secondary">
  <form>
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
       
          <ion-img  style="width: 100px;height: 100px;
          margin: auto; margin-top: 20px; margin-bottom: 20px;"  src="/assets/kds.jpeg"></ion-img>
       
       
       
      </ion-toolbar>
    </ion-header>
    <div style="display: flex; align-items: center; justify-content: center;">
    <ion-card class="ion-text-center ion-no-padding" style="border-radius: 10px 10px 10px 10px;
    "> 
      <ion-card-header>
        <ion-title class="ion-text-center" color="secondary">Log In</ion-title>
        
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label color="secondary" position="floating">Nombre</ion-label>
          
          <ion-icon color="secondary" name="person" slot="end"></ion-icon>
        </ion-item>
        <ion-item >
          <ion-label color="secondary" position="floating">PassWord</ion-label>
          
          <ion-icon color="secondary" name="key" slot="end"></ion-icon>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button   color="secondary" expand="block">Sign In</ion-button>
           
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-checkbox color="secondary"    slot="start"></ion-checkbox>
          <ion-label color="secondary">Recordar Credenciales?</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
  </form>
</ion-content>

