<ion-button 
  fill="clear" 
  class="btn-back"
  (click)="cerrar()">
  <ion-icon name="arrow-back-outline"></ion-icon>
</ion-button>

<ion-content class="planes-bg">
<div class="banner-ecf">
  ➕ Facturación electrónica (e-CF) disponible desde US$35 / mes  
  (Desde 100 comprobantes)
</div>
  <div class="planes-wrapper">

    <!-- PLAN BASICO -->
    <div class="plan-card basico">
      <div class="header">
        <span class="nombre">BÁSICO</span>
        <span class="precio">US$35 / MES</span>
      </div>

      <ul>
        <li>✔ Ideal para negocios pequeños</li>
        <li>✔ Sistema completo en la nube</li>
        <li>✔ Soporte incluido</li>
        <li>✔ 1 usuario</li>
      </ul>

      <div class="limite">Ingresos Hasta: RD$150,000 / mes</div>
    </div>

    <!-- 🟢 STANDARD -->
    <div class="plan-card standard">
      <div class="header">
        <span class="nombre">STANDARD</span>
        <span class="precio">US$60 / MES</span>
      </div>

      <ul>
        <li>✔ Ideal para negocios en crecimiento</li>
        <li>✔ Sistema completo en la nube</li>
        <li>✔ Soporte incluido</li>
        <li>✔ 2 usuarios</li>
      </ul>

      <div class="limite">Ingresos Hasta: RD$400,000 / mes</div>
    </div>

    <!-- GOLD -->
    <div class="plan-card gold popular">
      <div class="header">
        <span class="nombre">GOLD</span>
        <span class="precio">US$90 / MES</span>
      </div>

      <ul>
        <li>✔ Sistema completo en la nube</li>
        <li>✔ Mayor capacidad operativa</li>
        <li>✔ 3 usuarios</li>
        <li>✔ Soporte incluido</li>
      </ul>

      <div class="limite">Ingresos Hasta: RD$1,500,000 / mes</div>
    </div>

    <!-- PLATINUM -->
    <div class="plan-card platinum">
      <div class="header">
        <span class="nombre">PLATINUM</span>
        <span class="precio">US$130 / MES</span>
      </div>

      <ul>
        <li>✔ Sistema optimizado para alto volumen</li>
        <li>✔ Mejor rendimiento general</li>
        <li>✔ 5 usuarios</li>
        <li>✔ Soporte incluido</li>
      </ul>

      <div class="limite">Ingresos Hasta: RD$3,000,000 / mes</div>
    </div>

    <!-- ELITE -->
    <div class="plan-card elite">
      <div class="header">
        <span class="nombre">ELITE</span>
        <span class="precio">US$200 / MES</span>
      </div>

      <ul>
        <li>✔ Sistema empresarial escalable</li>
        <li>✔ Operación intensiva</li>
        <li>✔ Hasta 8 usuarios</li>
        <li>✔ Soporte incluido</li>
      </ul>

      <div class="limite">Ingresos Hasta: RD$10,000,000 / mes</div>
    </div>

  </div>

</ion-content>
