<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
    </ion-buttons>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cat-content">
  <div class="cat-page">
    <ion-card *ngFor="let categoria of ListadoCategoria; let i = index" class="cat-card">
      <ion-item lines="none">
        <div
          slot="start"
          class="cat-avatar"
          *ngIf="!tieneImagen(categoria); else imgTpl">
          <ion-icon name="grid-outline"></ion-icon>
        </div>
        <ng-template #imgTpl>
          <ion-avatar slot="start" class="cat-avatar-img">
            <img
              [src]="categoria.imagenPath"
              alt=""
              (error)="onImgError(categoria)" />
          </ion-avatar>
        </ng-template>

        <ion-label style="font-size: 16px; font-weight: 600;">
          {{ categoria.nombre }}
        </ion-label>

        <ion-button (click)="openModal(categoria)" color="primary" size="small" slot="end">
          <ion-icon name="pencil-outline" size="small"></ion-icon>
        </ion-button>
        <ion-button (click)="DeleteCategoria(categoria.idCategoria)" color="danger" size="small" slot="end">
          <ion-icon name="trash-outline" size="small"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button expand="block" color="warning" (click)="openModal(null)">
          Nueva Categoría
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
