<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Olvidó su contraseña?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Ingrese el correo electrónico asociado a su cuenta y le enviaremos
        instrucciones para restablecer su contraseña.
      </p>

      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-button
        expand="block"
        color="primary"
        (click)="enviar()"
        [disabled]="!email"
        style="margin-top: 16px;"
      >
        Enviar instrucciones
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
