<div class="print-preview">

  <div class="paper">

    <div class="center bold">
      ALAHIA POS
    </div>

    <div class="center small">
      MacroBits S.R.L<br>
      RNC: 133307887<br>
      Carmen Renata 3<br>
      Santo Domingo Oeste
    </div>

    <div class="line"></div>

    <div class="small">
      Factura: #000124<br>
      Fecha: 10/03/2026<br>
      NCF: B01000000124<br>
      Cliente: Juan Pérez
    </div>

    <div class="line"></div>

    <table class="items">
      <tr>
        <td>Coca Cola</td>
        <td class="qty">2 x 40</td>
        <td class="total">80</td>
      </tr>

      <tr>
        <td>Frutop</td>
        <td class="qty">1 x 30</td>
        <td class="total">30</td>
      </tr>

      <tr>
        <td>Red Bull</td>
        <td class="qty">1 x 200</td>
        <td class="total">200</td>
      </tr>
    </table>

    <div class="line"></div>

    <div class="totales small">
      <div><span>Subtotal</span><span>370.00</span></div>
      <div><span>ITBIS</span><span>66.60</span></div>
      <div class="bold"><span>Total</span><span>436.60</span></div>
    </div>

    <div class="line"></div>

    <div class="center small">
      Gracias por su compra
    </div>

  </div>

</div>